body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f1e5;
}

.header {
    background-image: url('/static/img/INAAR . DIGITAL BRANDING GUIDELINES texto 2 (2)-01.png'); /* Imagem do símbolo */
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir o contêiner */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    padding: 0; /* Remove o espaço extra */
    text-align: center; /* Centraliza o texto */
    position: relative; /* Adicionado para posicionamento */
    height: 400px; /* Ajuste a altura do cabeçalho */
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #BC6F25;
    padding: 10px;
}

.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    padding: 10px;
}

.navbar button:hover {
    background-color: #d2691e;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.show {
    display: block;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.section {
    padding: 50px;
}

/* Adicionando estilo para a seção Nossa História */
#nossa-historia {
    display: none;
    margin-top: 1000px; /* Ajusta a posição da seção para mais abaixo na página */
}

/* Classe para mostrar a seção Nossa História */
.mostrar {
    display: block;
    animation: fadeIn 1s;
}










