
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f1e5;
}
.header {
    background-image: url('/static/img/INAAR . DIGITAL BRANDING GUIDELINES texto 2 (2)-01.png'); /* Imagem de fundo */
    background-size: cover;  /* Para cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    color: white; /* Cor do texto */
    padding: 100px 0; /* Ajuste o espaço para o texto */
    font-size: 48px; /* Tamanho da fonte do título */
    text-align: center; /* Centraliza o texto */
}

.header h1 {
    font-size: 60px; /* Tamanho da fonte para o título "INAAR" */
    font-weight: bold;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #a52a2a;
    padding: 10px;
}
.navbar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 15px;
    cursor: pointer;
    padding: 10px;
}
.navbar button:hover {
    background-color: #d2691e;
    border-radius: 5px;
}
.section {
    padding: 50px;
}
