<link rel="stylesheet" href="/static/cadastrar_comida.css">
<form action="/cadastrar" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="nome_comida">Nome Da Comida:</label>
        <input type="text" id="nome_comida" name="nome_comida" placeholder="Ex: Batata Frita" required>
    </div>

    <div class="form-group">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" placeholder="Ex: Feito com..." required>
    </div>

    <div class="form-group">
        <label for="valor_comida">Valor:</label>
        <input type="number" id="valor_comida" name="valor_comida" step="0.01" placeholder="Ex: 15.99" required>
    </div>

    <div class="form-group">
        <label for="imagem">Imagem:</label>
        <input type="file" id="imagem" name="imagem" accept="image/*" required>
    </div>

    <div class="form-group">
        <label for="link_imagem">Link para a Imagem:</label>
        <input type="url" id="link_imagem" name="link_imagem" placeholder="Ex: https://www.exemplo.com" required>
    </div>

    <div class="form-group">
        <label for="categoria_produto">Categoria:</label>
        <select id="categoria_produto" name="categoria_produto" required>
            <option value="Esfihas">Esfihas</option>
            <option value="Entradas">Entradas</option>
            <option value="Bebidas">Bebidas</option>
            <option value="Kebab">Kebab</option>
            <option value="Kibe">Kibe</option>
            <option value="Pizza">Pizza</option>
            <option value="Combos">Combos</option>
            <option value="Manakish">Manakish</option>
            <option value="Sobremesas">Sobremesas</option>
        </select>
    </div>

    <button type="submit">Cadastrar</button>
</form>
