<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - INAAR</title>
    <link rel="stylesheet" href="/static/contact.css">
</head>
<body>
    <header>
        <h1>Contatos</h1>
        <nav>
            <ul>
                
                <li><a href="contact.html">inaar comida libanesa</a></li>
             
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Como achar:</h2>
            <p>Telefone: (11) 98146-3030 | Email: contato@inaar.com</p>
             <p>instagram : https://www.instagram.com/inaar.cozinhalibanesa/</p> 
            <p> ifood</p>
        </section>
    </main>
</body>
</html>
