<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - INAAR</title>
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <h1>Contatos</h1>
        <nav>
            <ul>
                <li><a href="contact.html">inaar comida libanesa</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Como achar:</h2>
            <p>
                <a href="https://api.whatsapp.com/send?phone=5511981463030" target="_blank">
                    <i class="fas fa-phone"></i> Telefone: (11) 98146-3030
                </a>
            </p>
            <p>
                <a href="mailto:contato@inaar.com">
                    <i class="fas fa-envelope"></i> Email: contato@inaar.com
                </a>
            </p>
            <p>
                <a href="https://www.instagram.com/inaar.cozinhalibanesa/" target="_blank">
                    <i class="fab fa-instagram"></i> Instagram: inaar.cozinhalibanesa
                </a>
            </p>
            <p>
                <a href="https://www.ifood.com.br/delivery/sao-paulo-sp/inaar-comida-libanesa" target="_blank">
                    <i class="fas fa-utensils"></i> iFood: Inaar comida libanesa
                </a>
            </p>
        </section>
        <section class="image-gallery">
            
            <div class="images">
                <img src="/static/img/Imagem do WhatsApp de 2025-02-19 à(s) 19.33.46_507b666f.jpg" alt="Imagem 1">
                <img src="/static/img/Imagem do WhatsApp de 2025-02-19 à(s) 19.33.52_e547f26b.jpg" alt="Imagem 2">
                <img src="/static/img/Imagem do WhatsApp de 2025-02-19 à(s) 19.33.53_b54441c6.jpg" alt="Imagem 3">
            </div>
        </section>
    </main>
</body>
</html>

