<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante INAAR</title>
    <link rel="stylesheet" href="/static/pagina1.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="header">
        <div class="symbol"></div>
    </header>
    <nav class="navbar">
        <button id="btn-sobre">Sobre Nós</button>
        <button onclick="window.location.href='/contatos'">Contato</button>
        <button onclick="window.location.href='/cardapio_cliente'">Cardápio</button>
    </nav>
    <div class="content">
        <div class="content-section">
            <h3>Sobre o INAAR</h3>
            <p>O Restaurante INAAR é um verdadeiro ícone de autenticidade e tradição da culinária árabe. Fundado com a visão de oferecer uma experiência gastronômica que transcende o paladar, o INAAR combina sabores autênticos com um ambiente acolhedor e sofisticado. Desde a sua inauguração, nosso compromisso tem sido transportar nossos clientes ao coração do Oriente Médio, proporcionando uma imersão completa em uma cultura rica e vibrante. Cada detalhe, desde a escolha dos ingredientes até a apresentação dos pratos, é pensado para refletir a essência da culinária árabe em sua forma mais pura e autêntica.</p>
            <div class="img-pair">
                <img src="/static/img/imagem do forno.jpg" alt="Imagem sobre o INAAR">
                <img src="/static/img/kibes de coalhada.jpg" alt="Imagem de Pratos Tradicionais">
            </div>
        </div>
        <div class="content-section">
            <h3>Pratos Tradicionais</h3>
            <p>Nosso menu é uma verdadeira viagem aos sabores exóticos e distintos do Oriente Médio. Cada prato é elaborado com ingredientes frescos e temperos tradicionais, importados diretamente da região para garantir a autenticidade dos sabores. Entre as especialidades, destacam-se os quibes, as esfihas, o tabule, o homus e o baba ganoush. Preparados com uma combinação de técnicas culinárias ancestrais e um toque moderno, os pratos do INAAR proporcionam uma explosão de sabores que encantam e surpreendem. Nossa dedicação à excelência se reflete em cada detalhe, desde a seleção dos ingredientes até a apresentação meticulosa dos pratos.</p>
            <div class="img-pair">
                <img src="/static/img/imagens pastas.jpg" alt="Imagem de Pratos Tradicionais">
                <img src="/static/img/imagem da frente.jpg" alt="Imagem de Ambiente e Hospitalidade">
            </div>
        </div>
        <div class="content-section">
            <h3>Experiência Culinária</h3>
            <p>No INAAR, cada refeição é uma experiência culinária inigualável. Nossos chefs são mestres na arte de harmonizar ingredientes e criar pratos que encantam tanto o paladar quanto os sentidos. A atmosfera do restaurante, cuidadosamente projetada para proporcionar conforto e elegância, complementa a qualidade excepcional dos nossos pratos. Venha desfrutar de uma refeição que celebra a rica cultura árabe, onde cada prato conta uma história de tradição e paixão pela culinária. A experiência INAAR vai além do sabor, é uma celebração dos sentidos e uma viagem cultural que deixa uma impressão duradoura.</p>
            <div class="img-pair">
                <img src="/static/img/imagens pastas.jpg" alt="Imagem de Experiência Culinária">
                <img src="/static/img/imagem da frente.jpg" alt="Imagem de Ambiente e Hospitalidade">
            </div>
        </div>
        <div class="content-section">
            <h3>Ambiente e Hospitalidade</h3>
            <p>Mais do que um restaurante, o INAAR é um espaço de encontro e celebração. Nossa decoração, inspirada nas tradições árabes, é rica em detalhes que evocam a beleza e a sofisticação do Oriente Médio. A iluminação suave, as cores vibrantes e os elementos decorativos criam uma atmosfera acolhedora e convidativa. O atendimento caloroso e personalizado é uma extensão da nossa filosofia de hospitalidade, onde cada cliente é tratado como parte da família. No INAAR, proporcionamos um ambiente perfeito para momentos inesquecíveis, seja para um jantar romântico, uma reunião familiar ou uma celebração especial.</p>
            <div class="img-pair">
                <img src="/static/img/imagens pastas.jpg" alt="Imagem de Experiência Culinária">
                <img src="/static/img/imagem da frente.jpg" alt="Imagem de Ambiente e Hospitalidade">
            </div>
        </div>
        <div class="content-section">
            <h3>Decoração e Ambiente</h3>
            <p>O INAAR oferece um ambiente que remete às tradições árabes, com uma decoração rica em detalhes e elementos que criam uma atmosfera envolvente e encantadora. Cada canto do restaurante é cuidadosamente projetado para proporcionar uma experiência imersiva e autêntica, transportando os clientes ao Oriente Médio. A música ambiente, a iluminação suave e os móveis tradicionais completam o cenário, criando um espaço onde é possível relaxar e desfrutar de uma refeição excepcional. Venha conhecer e se encantar com a magia do Oriente Médio no coração da cidade.</p>
            <div class="img-pair">
                <img src="/static/img/decoracao.jpg" alt="Imagem da Decoração do INAAR">
                <img src="/static/img/ambiente.jpg" alt="Imagem do Ambiente do INAAR">
            </div>
        </div>
        <div class="content-section">
            <h3>Nossos Ingredientes</h3>
            <p>Os ingredientes utilizados no INAAR são selecionados com o máximo rigor para garantir a qualidade e o sabor autêntico de cada prato. Utilizamos temperos e especiarias tradicionais da culinária árabe, combinados com ingredientes frescos e de alta qualidade, para oferecer uma experiência gastronômica inesquecível. Cada tempero é escolhido a dedo para garantir que a essência do Oriente Médio esteja presente em cada prato. Nossa busca pela perfeição começa com a seleção dos melhores ingredientes, passa pela habilidade dos nossos chefs e culmina em pratos que são verdadeiras obras de arte culinária.</p>
            <div class="img-pair">
                <img src="/static/img/ingredientes.jpg" alt="Imagem dos Ingredientes do INAAR">
                <img src="/static/img/tempero.jpg" alt="Imagem dos Temperos do INAAR">
            </div>
        </div>
        <div class="content-section">
            <h3>Eventos e Celebrações</h3>
            <p>O Restaurante INAAR é o lugar perfeito para celebrações e eventos especiais. Oferecemos um espaço acolhedor e sofisticado, ideal para aniversários, reuniões familiares e eventos corporativos. Nossa equipe está preparada para atender a todas as necessidades, garantindo que cada evento seja memorável e único. Com uma variedade de opções de menu e um serviço impecável, transformamos cada ocasião em um momento inesquecível. No INAAR, sua celebração será marcada pela combinação perfeita de ambiente encantador, pratos deliciosos e atendimento excepcional.</p>
            <div class="img-pair">
                <img src="/static/img/evento.jpg" alt="Imagem de Evento no INAAR">
                <img src="/static/img/celebracao.jpg" alt="Imagem de Celebração no INAAR">
            </div>
        </div>
    </div>
    <section id="sobre-nos" class="hidden">
        <h2>Sobre Nós</h2>
        <p>Descrição da empresa.</p>
    </section>
    <script src="/static/script.js"></script>
</body>
</html>




















